   		<footer>
   			  <div class="container clearfix">
				<hr class="footer-divider">
				<div style="text-align:center;">
				    <ul id="legal">
				        <li style="margin-left:0;"><a href="https://github.com/napster99/node-twitter.git">下载源代码</a></li>
				        <li><a href="https://github.com/napster99/">作者空间</a></li>
				        <li><a href="mailto:morrisonleisure@163.com">联系作者</a></li>
				        <br style="clear:both;" />
				    </ul>
				    <p class="right">© 2013 <span >Napster</span>, Inc. All rights reserved.</p>
			    </div>
			  </div>
   		</footer>
   </div>

  </body>
  <script src="/javascripts/jquery-1.9.1.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/index.js"></script>
</html>