<div class="panel">
    <div class="inner">
      <div class="header clearfix">
        社区消息<a href="/topic/create" id="create_topic_btn">
            <button class="btn btn-success">发布消息</button>
          </a>
      </div>
      <div id="topic_list">
	<div class="cell">
  <div class="user_avatar block">
    
      <a href="/user/shadowlk">
        <img src="http://gravatar.qiniudn.com/avatar/1fe5c803a92e0a808a42d0117167275f?size=48" title="shadowlk">
      </a>
  </div>

  <div class="block count">
    <a href="/topic/528f604aacf0746008001e03#52933346a6957a080961450b" title="回复数">11</a>/<span title="点击数">340</span>
  </div>

  <div class="topic_wrap">
    <!---->
    <a class="" href="/topic/528f604aacf0746008001e03">
      由于最近被垃圾贴生成工具攻击, 暂时关闭新用户注册.
    </a>
  </div>
  
    <div class="last_time">32 分钟前</div>
  
  
</div>
<div class="cell">
  <div class="user_avatar block">
      <a href="/user/Hanruis">
        <img src="http://gravatar.qiniudn.com/avatar/ae0b7cb554d349787c01a7b2299dd716?size=48" title="Hanruis">
      </a>
  </div>
  <div class="block count">
    <a href="/topic/519e01c563e9f8a542fa68f9#5292ededa6957a0809559597" title="回复数">243</a>/<span title="点击数">33223</span>
  </div>
  <div class="topic_wrap">
    <a class="" href="/topic/519e01c563e9f8a542fa68f9">
      【一起学node.js】再再版啦~
    </a>
  </div>
    <div class="last_time">5 小时前</div>
  
</div>
</div>
		<div class="pagination" current_page="1">
			<ul>
				<li class="disabled"><a>«</a></li>
				<li class="disabled active"><a>1</a></li>
				<li><a href="/?page=2">2</a></li>
				<li><a href="/?page=3">3</a></li>
				<li><a href="/?page=4">4</a></li>
				<li><a href="/?page=5">5</a></li>
				<li><a>...</a></li>
				<li><a href="/?page=140">»</a></li>
			</ul>
		</div>
		<!--script>
			$(document).ready(function () {
				var $nav = $('.pagination');
				var current_page = $nav.attr('current_page');	
				if (current_page) {
					$nav.find('li').each(function(){
						var $li = $(this);
						var $a = $li.find('a');
						if($a.html() == current_page){
							$li.addClass('active');
							$a.removeAttr('href');
						}
					});
				}
			});
		</script-->
    </div>
  </div>