<div id="sidebar">
	<% if(!locals.user) { %>
		<div class="panel">
	      <div class="inner">
	        <p>BFCloub：边锋前端技术交流社区</p>
	        <div>
	          <a href="/addUser"><button class="btn">现在注册</button></a>
	          <span>已注册用户请<a class="light" href="/login"> 登录</a></span>
	        </div>
	      </div>
	  </div>
	<%  } else { %>
		<div class="panel">
	    
	      <div class="header">
		        <span class="col_fade">个人信息<span>
		      </span></span></div>
		      <div class="inner">
		        <div class="user_card">
			<div>
				<a class="user_avatar" href="/user/napster99">
					<img src="http://gravatar.qiniudn.com/avatar/1fe5c803a92e0a808a42d0117167275f?size=48" title="<%= locals.user.name %>">
				</a>
				<span class="user_name">
					<a class="dark" href="/user/napster99"> <%= locals.user.name %></a>
				</span>

				<div class="board clearfix">
					<div class="floor">
						<a href="/user/napster99/tags/">发布话题：<span class="big">0</span>个</a>
						<div class="space"></div>
						<a href="/user/napster99/collections">参与话题：<span class="big">1</span>个</a>
					</div>
					<div class="floor">
						<a href="/user/napster99/following">日报：<span class="big">12</span>篇</a>
						<div class="space"></div>
						<a href="/user/napster99/follower">周报：<span class="big">3</span>篇</a>
						<div class="space"></div>
						积分：<span class="big">30</span>分
					</div>

					
				</div>
			</div>
		</div>

	      </div>
	      
	  </div>

	<% } %>
</div>